extends blocks/_layout

append content

    main.main
        .box
            .main__content
                p(class="main-text") Вот это и есть паг. Это препроцессор. Он собирает html из разных кусков и полуается вот такое